.grid-zone {
  --reduction-parameter: 0.8;
  display: grid;
  gap: 6px;
  grid-template-columns: repeat(20, 1fr);
}

.player-zone {
  position: relative;
  display: grid;
  gap: 6px;
  grid-template-columns: repeat(10, 1fr);
}

.player-zone .tile__back {
  position: absolute;
  top: unset;
  left: unset;
  bottom: 0;
  right: 0;
  transform: translateX(calc(100% + 32px));
}

.player-zone .ui-game-button {
  position: absolute;
  top: unset;
  left: unset;
  bottom: 0;
  right: 0;
  transform: translate(calc(100% + 32px), -100px);
  width: 60px;
}

.player-zone .ui-game-button:disabled:active {
  box-shadow: var(--game-button-height);
  transform: translate(calc(100% + 32px), -100px)
}

.player-zone .ui-game-button:active {
  box-shadow: var(--game-button-height--active);
  transform: translate(calc(100% + 32px), -97px)
}

.player-zone .player--self {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateX(calc(-100% - 32px));
}