.grid-zone {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(14, 1fr);
}

.player-zone {
  position: relative;
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(10, 1fr);
}

.player-zone .tile--back {
  position: absolute;
  top: unset;
  left: unset;
  bottom: 0;
  right: 0;
  transform: translateX(calc(100% + 32px));
}