.initialize-dialog {
  min-width: 320px;
  background-color: white;
  border-radius: 16px;
  padding: 32px;
  padding-top: 40px;
  box-shadow: rgb(0 0 0 / 20%) 0px 6px 20px;
  text-align: center;
}

.initialize-dialog__title {
  margin: 0;
  margin-bottom: 16px;
}

.initialize-dialog__description {
  margin: 0;
  margin-bottom: 32px;
}

.initialize-dialog__code {
  display: flex;
  align-items: center;
  gap: 8px;
  width: fit-content;
  margin: auto;
  padding: 8px 16px;
  padding-right: 8px;
  border-radius: 4px;
  color: rgba(0,0,0,0.6);
  background-color: rgba(0,0,0,0.05);
}

.initialize-dialog__actions {
  display: flex;
  gap: 16px;
}

.initialize-dialog__form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.initialize-dialog__config-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  font-size: 14px;
  color: rgba(0,0,0,0.6);
  height: 40px;
}

.initialize-dialog__config-content {
  border-radius: 8px;
  background-color: rgba(0,0,0,0.05);
  padding: 4px 16px;
}

.initialize-dialog__config-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  border-bottom: 1px solid rgba(0,0,0,0.05);
}

.initialize-dialog__config-item:last-child {
  border-bottom: none;
}

.initialize-dialog__config-item-selector {
  display: flex;
  gap: 8px;
}

.ui-input {
  position: relative;
}

.ui-input__label {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  color: rgba(19, 10, 10, 0.6);
  pointer-events: none;
}

.ui-input__input {
  height: 48px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid rgba(0,0,0,0.2);
  padding: 0 16px;
}

.ui-input__input:focus {
  outline: none;
  box-shadow: white 0px 0px 0px 2px, rgb(34 34 34) 0px 0px 0px 4px;
}

.initialize-dialog__form .code-button {
  position: absolute;
  right: 10px;
  bottom: 10px;
}