.ui-transition {
  position: relative;
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  overflow: hidden;
}

.ui-transition--start {
  height: 0px;
}

.ui-transition--end {
  height: calc(8px + 48px * 2);
}

.ui-transition__content {
  position: absolute;
  top: 0;
  width: 100%;
}