.tile {
  --tile-weight: 1px 1px 0px rgb(240, 225, 206), 2px 2px 0px rgb(240, 225, 206);
  --tile-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1);
  --tile-shadow--big: 8px 8px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 80px;
  height: 110px;
  background-color: antiquewhite;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: var(--tile-weight), var(--tile-shadow);
  cursor: pointer;
  user-select: none;
}

.tile:hover {
  box-shadow: var(--tile-weight), var(--tile-shadow--big), 1px 1px 2px 4px rgba(255, 255, 255, 0.2);
  animation: tile-hover .3s ease-in;
}

@keyframes tile-hover {
  from {
    box-shadow: var(--tile-weight), var(--tile-shadow--big), 1px 1px 1px 2px rgba(255, 255, 255, 0);
  }
  to {
    box-shadow: var(--tile-weight), var(--tile-shadow--big), 1px 1px 2px 4px rgba(255, 255, 255, 0.2);
  }
}

.tile.tile--selected {
  animation: tile-selected .6s infinite alternate-reverse;
}

@keyframes tile-selected {
  from {
    box-shadow: var(--tile-weight), 1px 1px 1px 2px rgba(255, 190, 20, 0.4);
  }
  to {
    box-shadow: var(--tile-weight), 1px 1px 2px 4px rgba(255, 190, 20, 0.8);
  }
}

.tile--red .tile__number {
  color: rgb(252, 67, 86);
}

.tile--black .tile__number {
  color: rgb(27, 27, 27);
}

.tile--blue .tile__number {
  color: rgb(4, 186, 252);
}

.tile--orange .tile__number {
  color: rgb(255, 131, 59);
}

.tile__number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background: antiquewhite;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.05) 80%
  );
  border: 1px solid rgba(0, 0, 0, 0.01);
  line-height: 0;
  font-size: 45px;
  font-weight: bold;
  pointer-events: none;
}

.tile__brand {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  pointer-events: none;
}

.tile__brand-letter {
  font-size: 11px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.1);
}