.menu {
  position: fixed;
  top: 0;
  right: 0;
  padding: 16px;
}

.menu__dropdown {
  position: relative;
}

.ui-dropdown__button {
  position: relative;
}

.ui-dropdown__menu {
  position: absolute;
  top: calc(100% + 8px);
  right: 0;
  padding: 4px 0px;
  border-radius: 4px;
  white-space: nowrap;
  background-color: white;
}

.ui-dropdown__menu button {
  border: 0;
  padding: 8px 16px;
  background-color: transparent;
  cursor: pointer;
}

.ui-dropdown__menu button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

