body {
  margin: 0;
  overscroll-behavior: none;
}

:root {
  -webkit-tap-highlight-color: transparent;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  gap: 80px;
  background-color: cadetblue;
  overflow: hidden;
  overscroll-behavior: none;
}