body {
  margin: 0;
  overscroll-behavior: none;
}

:root {
  -webkit-tap-highlight-color: transparent;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  padding-top: 100px;
  gap: 24px;
  background-color: cadetblue;
  overflow: hidden;
  overscroll-behavior: none;
}

.played-zone {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px;
}

.player-zone {
  position: absolute;
  bottom: 100px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px;
}

.drag-zone {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(12, 1fr);
}