.tile-spot {
  position: relative;
  width: 80px;
  height: 110px;
  border-radius: 8px;
}

.tile-spot--hover .tile-spot__mark {
  background-color: rgba(255, 255, 255, 0.2);
}

.tile-spot__mark {
  position: absolute;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  border-radius: 8px;
  border: 1px dashed rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0.05);
}

.tile-spot__mark:not(:last-child) {
  display: none;
}

.tile-spot--batch {
  animation-name: example;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

/* The animation code */
@keyframes example {
  0% {
    box-shadow: 0px 0px 4px 1px #de6c6c;
  }
  50% {
    box-shadow: 0px 0px 4px 4px #de6c6c;
  }
  100% {
    box-shadow: 0px 0px 4px 1px #de6c6c;
  }
}