.tile-spot {
  position: relative;
  width: 80px;
  height: 110px;
  border-radius: 8px;
}

.tile-spot--hover .tile-spot__mark {
  background-color: rgba(255, 255, 255, 0.2);
}

.tile-spot__mark {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: 1px dashed rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0.05);
}

.tile-spot__mark:not(:last-child) {
  display: none;
}
