{
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended",
    "react-app",
    "react-app/jest"
  ],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["warn", {}, {"usePrettierrc": true}],
    "react-hooks/exhaustive-deps": "off"
  },
  "env": {
    "browser": true,
    "es6": true
  }
}
